.detailsContainer {
display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.col {
    max-width: 400px;
    width: 80%;
    margin: 15px;
    height: auto;
    height: 80%;
}

.movieImage {
    border-radius: 15px;
    background-color: #1e1d1d;
    width: 400px;
    height: 588px;
}

.movieDetails {
    font-size: 1.5rem;
}

.firstItem {
    margin-top: 0;
}