.movieCard {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
}
.movieCard:hover {
    opacity: 0.8;
}

.movieImage {
    border-radius: 10px;
    background-color: azure;
}

@media (max-width: 580px) {
    .movieImage {
        width: 100%;
        height: auto;
    }}