.moviesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 10px;
    padding: 40px;
    justify-content: center;

}
@media (max-width: 580px) {
    .moviesGrid {
        grid-template-columns: 100%;
    }
}
