.navbar {
    background-color: #ffffff; /* Fondo blanco para un look minimalista */
    border-bottom: 2px solid #e0e0e0; /* Línea sutil en la parte inferior */
    padding: 1rem 2rem; /* Espaciado alrededor de la navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem; /* Espaciado entre los elementos de la lista */
    margin: 0;
    padding: 0;
}

.navbar li {
    font-size: 1rem; /* Tamaño de fuente sencillo y legible */
    font-weight: 500; /* Peso de fuente medio para mayor claridad */
}

.navbar a {
    text-decoration: none; /* Eliminar subrayado en enlaces */
    color: #333333; /* Color de texto oscuro para buena legibilidad */
    transition: color 0.3s ease; /* Transición suave para cambio de color */
}

.navbar a:hover {
    color: #007BFF; /* Color azul para indicar interactividad */
}

.navbar a.active {
    color: #007BFF; /* Color azul para el enlace activo */
    font-weight: 600; /* Peso de fuente más alto para resaltar el enlace activo */
}
