.searchContainer {
    display: flex;
    justify-content: center;
}

.searchBox {
    position: relative;
    }


.searchButton {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
    color: black;
    font-size: 20px;
    margin-right: 10px;
}

.searchInput {
    font-size: 1.2rem;
    height: 30px;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
}

input:focus-visible {
    outline-offset: unset;
    outline: #107aaf solid 1px;
    transition: outline 100ms ease-in-out;
}
