.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio {
    display: block;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagen {
    border-radius: 10px;

}

.parrafo {
    margin: 1rem;
    max-width: 70%;
    text-align: justify;
    line-height: 1.5;
    word-wrap: break-word;
    color: #7e7a7a;
}

.inicio:hover {
    color: #f3ecec;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #002ee6, 0 0 40px #0013e6,
    0 0 50px #002ee6, 0 0 60px #0026e6, 0 0 70px #001fe6;
}

.enlace {
    color: #0866c2;
    font-weight: bold;
}

.linkedin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1.5rem;
}